<h1>Haircuts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @haircuts.each do |haircut| %>
      <tr>
        <td><%= haircut.style %></td>
        <td><%= haircut.category %></td>
        <td><%= haircut.price %></td>
        <td><%= link_to 'Show', haircut %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
