// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;

$dark-gray: #909090;
$medium-gray: #e4e4e4;
$main-red: #f82014;
$secondary-red: #fde0e1;
$gray-details: #d4d4d4;
$beige: #fcf5e8;
$dark: #0f0000;
$shadow: rgba(0, 0, 0, 0.05);
