// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$dark-gray: #909090;
$medium-gray: #E4E4E4;
$main-red: #F82014;
$secondary-red: #FDE0E1;
$gray-details: #d4d4d4;
$beige: #FCF5E8;
$dark: #0F0000;
