<div class="form-container">
  <div class="d-flex flex-grow-1 justify-content-center w-100 ">
    <div class="col-sm-12 col-md-8 col-lg-10 p-3 form">
      <h1>Edit Booking</h1>
      <%= simple_form_for @booking do |f| %>
        <%= f.input :appointment, as: :string, input_html: { type: 'datetime-local' } %>
        <%= f.submit class: 'btn btn-danger' %> <%= link_to 'Cancel', :back, class: 'text text-secondary' %>
      <% end %>
    </div>
  </div>
</div>
