<div class="container">
  <h1>Edit Booking</h1>

  <%= simple_form_for @booking do |f| %>
    <%= f.input :appointment %>

    <%= f.submit class: 'btn btn-primary' %> <%= link_to 'Cancel', haircut_path(@booking.haircut), class: 'btn btn-danger' %>
  <% end %>

</div>
