<div class="container">
  <h1>New booking</h1>

  <%= simple_form_for [@haircut, @booking] do |f| %>
    <%= f.input :appointment %>
    <%= f.submit "Book for US$#{@haircut.price.round}", class: 'btn btn-primary' %> <%= link_to 'Cancel', haircut_path(@haircut), class: 'btn btn-danger' %>
  <% end %>
</div>
