.banner-index {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://images.pexels.com/photos/1319459/pexels-photo-1319459.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  display: flex;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
  align-items: center;
  position: relative;
  z-index: 2;
  box-shadow: 0px 1px 4px $shadow;

  .container-banner {
    display: flex;
    justify-content: center;
    background-color: transparent !important;
    align-items: center;
    margin-top: 0px;
  }
  .wrapper {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  h1 {
    font-size: 160px !important;
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 32px;
    font-weight: bold;
  }
  p {
    font-size: 20px;
    color: white;
    opacity: 0.7;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    margin: 0px;
  }
}
